:root {

/* Colors: */
--unnamed-color-ffffff: #FFFFFF;

/* Font/text values */
--unnamed-font-family-helvetica-neue: Helvetica Neue;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-bold: bold;
--unnamed-font-size-20: 20px;
--unnamed-character-spacing-0: 0px;
--unnamed-line-spacing-23: 23px;
}

/* Character Styles */
.unnamed-character-style-1 {
font-family: var(--unnamed-font-family-helvetica-neue);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-20);
line-height: var(--unnamed-line-spacing-23);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
}